/** {
  border-style: solid;
  color: black ;
}*/

header {
  display: block;
}

header ul li {
  display: inline;
}

#logo-img {
  position: absolute;
  top: 20px;
  left: 250px;
}

.logo-copy {
  display: block;
  width: 20px;
  position: relative;
  top: -500px;
}

h2 {
  position: absolute;
  top: -10px;
  left: 300px;
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
}

#right-nav {
  position: absolute;
  top: 15px;
  right: 55px;
}

#tagline {
  position: absolute;
  top: 40px;
  left: 300px;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

#pint {
  margin-right: 8px;
}

.blog-name {
  display: block;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

#date {
  font-family: 'Roboto', sans-serif;
  color: grey;
  margin-top: -20px;
}

#blog-head {
  position: absolute;
  top: 100px;
  left: 253px;
}

#printer {
  color: grey;
  position: absolute;
  top: 190px;
  right: 295px;
}

#printer-text {
  font-family: 'Roboto', sans-serif;
  color: grey;
  position: absolute;
  top: 164px;
  right: 260px;
}

#pizza-img {
  display: block;
  margin: auto;
  width: 65%;
  position: absolute;
  top: 220px;
  left: 253px;
}

main {
  border-top-style: ;
}

.para-text {
  position: absolute;
  left: 253px;
  right: 260px;
  top: 600px;
  width: 65% auto;
  margin-top: 200px;
}

footer ul li {
  position: absolute;
  display: inline;
}

#footer-elements {
  position: absolute;
  bottom: -500px;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0.5;
}

#footer-decor {
  display: inline;
}

#footer-logo {
  width: 34px;
}

.decorated{
     overflow: hidden;
     text-align: center;
 }
.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    width: 425px; /* half of limiter */
    margin: 0 30px;
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}
